@page "/employees"

@using DataAccessLibrary.Repository
@using DataAccessLibrary.Models
@using BlazorServerPractice.Models

@inject IEmployeeRepository _db

<h1>Employees Page</h1>

<h3>Create New Employee</h3>

<div style="margin-right: 75%;">
    <EditForm Model="@newEmployee" OnValidSubmit="@CreateEmployee">
        <!-- Validator -->
        <DataAnnotationsValidator />
        <!-- Displays error message -->
        <ValidationSummary />

        @if (!string.IsNullOrEmpty(error_message))
        {
            <div class="alert alert-danger" role="alert">
                @error_message
            </div>
        }

        <div class="form-group">
            <label for="employeeId">Employee ID</label>
            <InputNumber id="employeeId" @bind-Value="newEmployee.EmployeeId" class="form-control" />
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <InputText id="firstName" @bind-Value="newEmployee.FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <InputText id="lastName" @bind-Value="newEmployee.LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <InputText id="emailAddress" @bind-Value="newEmployee.EmailAddress" class="form-control" />
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-2">Create</button>
        </div>
    </EditForm>
</div>

<h3>Current Employees</h3>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.EmailAddress</td>
                    <td>
                        <NavLink href="@($"/editemployee/{employee.EmployeeId}")" class="btn btn-primary">Edit</NavLink>                                 
                        <NavLink href="@($"/deleteemployee/{employee.EmployeeId}")" class="btn btn-danger">Delete</NavLink>
                  </td>
                    
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<EmployeeModel>? employees;
    private DisplayEmployeeModel newEmployee = new DisplayEmployeeModel();
    private string error_message;

    protected override async Task OnInitializedAsync()
    {
        employees = await _db.GetEmployee();
    }

    private async Task CreateEmployee()
    {
        if (employees != null && employees.Any(e => e.EmployeeId == newEmployee.EmployeeId))
        {
            error_message = "Employee ID already exists. Please use a unique ID.";
            return;
        }

        EmployeeModel e = new EmployeeModel
            {
                EmployeeId = newEmployee.EmployeeId,
                FirstName = newEmployee.FirstName,
                LastName = newEmployee.LastName,
                EmailAddress = newEmployee.EmailAddress
            };

        await _db.CreateEmployee(e);

        if (employees == null)
        {
            employees = new List<EmployeeModel>();
        }

        employees.Add(e);
        newEmployee = new DisplayEmployeeModel();

        // Clear the error message
        error_message = null;
    }
}